---
---

.standalone-page,
.standalone-center-page {
  h2,
  h3 {
    margin-top: 40px;
  }

  a {
    color: #38752f;
  }

  a.pop {
    color: #6c2f75;
  }

  .site-attribution {
    display: block;
    margin-top: 50px;
  }

  .site-attribution,
  .site-attribution a {
    color: #999999;
  }
}

.standalone-center-page {
  h1,
  h2,
  h3,
  p {
    text-align: center;
  }
}